build/
build-code/
buildCoverage/
buildLinux/
Install/
install/
installLinux/
version.h
*.log
*.orig
DicoKeys.*
tests/**/resultsTestsTmp/**
results/
myEnvDFL.sh
sources/Common/include/*_keys.h
sources/Common/src/*_keys.cpp
sources/Common/*_keys.h
sources/Common/*_keys.cpp
sources/gitversion_dfl.h*
documentation/*.aux
documentation/*.log
documentation/*.nlo
documentation/*.out
documentation/*.pdf
documentation/*/*.aux
documentation/*/*.log
documentation/*/*.nlo
documentation/*/*.out
documentation/*/*.pdf
documentation/*/*.toc
documentation/licenses/*/*.aux
documentation/licenses/*/*.log
documentation/licenses/*/*.nlo
documentation/licenses/*/*.out
documentation/licenses/*/*.pdf
documentation/dynaflowLauncherDocumentation


# Created by https://www.toptal.com/developers/gitignore/api/visualstudiocode
# Edit at https://www.toptal.com/developers/gitignore?templates=visualstudiocode

### VisualStudioCode ###
.vscode/*
!.vscode/settings.json
# !.vscode/tasks.json
!.vscode/launch.json
# !.vscode/extensions.json
*.code-workspace

### VisualStudioCode Patch ###
# Ignore all local history of files
.history

# End of https://www.toptal.com/developers/gitignore/api/visualstudiocode
