name: Release

on:
  release:
    types: [published]

jobs:
  distribution:
    name: Distribution Linux
    runs-on: ubuntu-latest
    container: dynawo/dynawo-distribution-cxx11:latest
    env:
      DYNAWO_VERSION: 1.3.1
      DYNAFLOW_LAUNCHER_BUILD_TYPE: Release
      DYNAFLOW_LAUNCHER_PROCESSORS_USED: 2
      DYNAFLOW_LAUNCHER_FORCE_CXX11_ABI: "true"
      DYNAFLOW_LAUNCHER_LOCALE: "en_GB"
      DYNAFLOW_LAUNCHER_USE_DOXYGEN: "OFF"
      DYNAFLOW_LAUNCHER_BUILD_TESTS: "OFF"
      GH_API_DYNAWO: ${{ github.api_url }}/repos/${{ github.repository_owner }}/dynawo
      GH_API_DYNAWO_ALGORITHMS: ${{ github.api_url }}/repos/${{ github.repository_owner }}/dynawo-algorithms
      CURL_JSON: 'curl --silent --header "Content-Type": "application/json"'

    steps:
      - name: Checkout sources
        uses: actions/checkout@v1

      - name: Fetch Dynawo and Dynawo Algorithms
        run: |
          source .github/workflows/tools.sh
          download_asset $GH_API_DYNAWO v${DYNAWO_VERSION} Dynawo_Linux_v${DYNAWO_VERSION}.zip
          download_asset $GH_API_DYNAWO_ALGORITHMS v${DYNAWO_VERSION} DynawoAlgorithms_Linux_headers_v${DYNAWO_VERSION}.zip

      - name: Unzip Dynawo and Dynawo algorithms
        run: |
          unzip "Dynawo_Linux_v${DYNAWO_VERSION}.zip"
          unzip -qq "DynawoAlgorithms_Linux_headers_v${DYNAWO_VERSION}.zip"

      - name: Build
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          export DYNAWO_HOME=$(pwd)/dynawo
          export DYNAWO_ALGORITHMS_HOME=$(pwd)/dynawo-algorithms
          export DYNAFLOW_LAUNCHER_HOME=$(pwd)
          export DYNAFLOW_LAUNCHER_INSTALL_DIR=$DYNAFLOW_LAUNCHER_HOME/dynaflow-launcher
          scripts/envDFL.sh build-user
          version=$(scripts/envDFL.sh version 2>&1 | cut -f1 -d' ')
          zip -r DynaFlowLauncher_V${version}.zip dynaflow-launcher
          curl -H "Authorization: token $GITHUB_TOKEN" -H "Content-Type: application/zip" -X POST $(curl -s --request GET https://api.github.com/repos/dynawo/dynaflow-launcher/releases/latest | grep upload_url | cut -d '"' -f 4 | grep -o ".*assets")?name=DynaFlowLauncher_Linux_v${version}.zip --data-binary @DynaFlowLauncher_V${version}.zip
